body{
    margin: 0%;
    font-family: 'Raleway';
}
section{
    height: 500px;
    padding-bottom: 100px;
}

h1 {
    font-size: 50px;
}
h2{
    font-size: 40px;
}

.name-highlight{
    color: goldenrod;
}
.skill-highlight{
    color: orangered;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%; 
}
.half-width img{
    width: 100%;
}
.top-profile{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.link{
    text-decoration: none;
    color: white;
    font: bold;
    background-image: linear-gradient(lightblue, lightseagreen) ;
    border-radius: 5%;
    padding: 10px 20px;
}
.dream{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.skill-box{
    height: 80%;
    box-shadow: 10px 10px 30px gray;
    border-radius: 5%;
}
.skills{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#box1{
    border-left: 7px solid;
    border-image: linear-gradient(red, lightsalmon);
    border-image-slice: 1;
}
#box2{
    border-left: 7px solid;
    border-image: linear-gradient(blue, lightblue);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}