body{
    margin: 0%;
    font-family: 'Raleway';
}
section{
    height: 500px;
}

h1 {
    font-size: 50px;
}
.name-highlight{
    color: goldenrod;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    
}
.half-width img{
    width: 100%;
}
.top-profile{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.hire{
    text-decoration: none;
    color: white;
    font: bold;
    background-image: linear-gradient(lightblue, lightseagreen) ;
    border-radius: 5%;
    padding: 10px 20px;
}